.images(data-latest-comic-id=comic.latestId)
  .left
    img(src=comic.prevImage, data-comic-id=comic.prevId)
  .current
    img(src=comic.image, data-comic-id=comic.id)
  .right
    img(src=comic.nextImage, data-comic-id=comic.nextId)
